node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log
*.tgz
package-lock.json~

.next
dist
build
coverage
out

.vscode
.idea
.env
.env.development
.eslintcache
*.local
*.log
tsconfig.tsbuildinfo

.git
.gitignore
.gitattributes

npm-cache
eslint-cache
ts-cache